header {
  background: #011d38;
  padding: 20px 60px;
}

body {
  background: #011d38;
}

.header {
  text-align: left;
  display: flex;                 /* make the row layout */
  justify-content: space-between; /* left = title, right = buttons */
  align-items: center;           /* vertical alignment */
  flex-wrap: nowrap;             /* prevent stacking */
  color: rgb(177, 100, 196);
  font-family: Tahoma, sans-serif;
}

.header h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.header .buttons {
  display: flex;                 /* line up buttons horizontally */
  gap: 15px;
}

.header button {
  padding: 10px 20px;
  background-color: rgb(177, 100, 196);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

a {
  display: block;      /* makes it a block element */
  margin: 0 auto;      /* centers horizontally */
  padding: 15px 30px;
  background: linear-gradient(to top, #005dc2, #07f0f5);
  text-align: center;
  color: white;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.header button:hover {
  background-color: #a35ea0;
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Tahoma, sans-serif;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;  /* sets vertical size */
}

h1 {
  text-align: center;
  color: rgb(252, 252, 252);
  font-family: Tahoma, sans-serif;
}

h2 {
  text-align: center;
  color: rgb(252, 252, 252);
  font-family: Tahoma, sans-serif;
  font-weight: normal;
}

.center-btn {
  display: block;      /* makes it a block element */
  margin: 0 auto;      /* centers horizontally */
  padding: 15px 30px;
  background: linear-gradient(to top, #005dc2, #07f0f5);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Tahoma, sans-serif;
}

.center-btn:hover {
  background-color: #a35ea0;
}


