<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HackRU Project</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
    <div class="header">
      <a href="/home" class="btn btn-primary d-block mb-1" style="width: 180px; margin: 1px 0;">AImpulse</a>
      <div class="buttons">
        <a href="/track" class="btn btn-primary d-block mb-1" style="width: 180px; margin: 5px auto;">Track</a>
        <a href="/chatbot" class="btn btn-primary d-block mb-1" style="width: 180px; margin: 5px auto;">Chatbot</a>
        <a href="/analysis" class="btn btn-primary d-block mb-1" style="width: 180px; margin: 5px auto;">Sign Out</a>
      </div>
    </div>
  </header>
  <p>Your Trading Impulse, Backed by AI.</p>
</body>
</html>