<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HackRU Project</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
  <div class="header">
    <img src="static/newlogo.png" alt="Logo" class="logo">
  </div>
</header>
  <h2>Greetings user! This project was created by Anish Allada, Anuj Kakumanu, Safwan Sain. This project was created for HackRU.</h2>
  <div class="header">
      <a href="/login" class="btn btn-primary d-block mb-1" style="width: 180px; margin: 5px auto;">GET STARTED</a>
      </div>
    </div>
</body>
</html>
