<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HackRU Project</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
  <div class="header">
    <img src="static/newlogo.png" alt="Logo" class="logo">
  </div>
</header>
  <h2>At AImpulse, we know that markets are constantly shifting, so we work to support our users by providing insights into potential shifts based on current events happening in the world. By combining news analysis with natural language processing and artificial intelligence, we can predict what news may impact specific markets and what stocks they will impact. We can also provide a PulseScore to inform our users of future market trends and help them make more educated market decisions.</h2>
  <p style="margin-bottom: 20px;"></p>
  <div class="header">
      <a href="/login" class="btn btn-primary d-block mb-1" style="width: 180px; margin: 5px auto;">Get Started</a>
      </div>
    </div>
</body>
</html>
