<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HackRU Project</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<header>
    <h1>Sign Up</h1>
</header>
<div class="container">
  <form action="/login" method="POST">
    <input type="text" placeholder="Enter Username" name="username" required>
    <input type="password" placeholder="Enter Password" name="password" required>
    <input type="submit" value="Sign In" class="btn btn-primary" style="width: 180px; margin: 5px auto;">
  </form>
</div>
</body>
</html>
